*{
    font-family: 'Lato', sans-serif;
}
body{
    margin: 0;
    padding: 0;
}

.header{
    background-color: lightgreen;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.githublink{
    position: absolute;
    left: 30px;
}
.githubimg{
    height: 70px;
}
.imie{
    height: 5vh;
    margin: 0;
    text-align: center;
}
.menu{
    display: flex;
    list-style-type: none;
    position: absolute;
    right: 30px;
}
.mlink a{
    background-color: lightgray;
    color: black;
    text-decoration: none;
    padding: 20px;
    margin: 5px;
}
.mlink a:hover{
    background-color: white;
}

.tablecont{
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: wheat;
}

table,td{
    border: 1px solid black;
    border-collapse: collapse;
    background-color: lightgray;
    padding: 10px;
    margin: 10px;
}

.forms{
    background-color: lightgoldenrodyellow;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form{
    margin: 5px;
}
input{
    padding: 5px;
}